/* Montpellier JUG
 * author: mda@zenexity.com
 */

/*  -------------------------------- RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  /*	vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-y: scroll;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  -------------------------------- GENERAL */
body {
  background: #1d262b;
  color: #4a738c;
  font: 13px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  background: #29363e;
  padding: 100px 0 40px;
  margin: 0 0 20px;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 5px 0 rgba(0, 0, 0, .3);
  zoom: 1; /* IE<8 fix */
  min-width: 940px;
  position: relative;
}

header:after, section:after, footer:after {
  content: " ";
  display: block;
  clear: both;
}

p {
  margin: 10px 0 0;
}

/*  -------------------------------- LOGO+MENU */
#logo {
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -450px;
  background: url(/assets/images/logo.png) no-repeat;
  height: 100px;
  min-width: 120px;
  text-decoration: none;

  span {
    position: absolute;
    left: 100px;
    top: -5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4a738c;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
  }
}

#menu {
  position: absolute;
  top: 5px;
  right: 50%;
  margin-right: -450px;

  ul {
    text-align: right;
  }
  li {
    display: inline-block;
    margin: 0 2px;

    a {
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: #4a738c;
      text-decoration: none;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
      padding: 5px;

      :hover {
        background: #1d262b;
      }
    }

    .active a {
      color: #fff;
      background: #a92401;
    }
  }
}

/*  -------------------------------- UPCOMING EVENT */
header {
  position: relative;
  right: 50%;
  margin: 0 -450px 0 0;
  background: #a92401;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  zoom: 1; /* IE<8 fix */
  color: #2b0a01;
}

#speakers {
  width: 260px;
  min-height: 200px;
  float: right;
  padding: 15px 20px;
  background: #781a01;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 2;

  h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffc488;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
  }

  dl:before {
    content: " ";
    display: block;
    height: 0;
    border-top: 1px solid #651600;
    border-bottom: 1px solid #8c1e01;
    margin: 5px -10px;
  }

  dl {
    padding-left: 10px;
  }

  dt {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    font-size: 15px;
    font-weight: bold;
  }

  dd {
    font-size: 12px;
    color: #e8613e;
  }

  a {
    color: #e5beb3;
    :hover {
      color: #fff;
    }
  }
}

#speaker a {
  color: #e5beb3;
  :hover {
    color: #fff;
  }
}

.speaker-event {
  margin: 5px;
}

/* SPEAKERS TOP BOX DETAILS */
#speakerstopbox {
  position: relative;
  margin: 50px auto 20px;
  background: #EEE;
  color: #fff;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);

  h2 {
    color: #4A738C;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    padding: 10px;
    margin: 0 0 -10px;
  }

  p {
    color: #444;
    text-decoration: none;
    padding: 10px;
    margin: 0 0 -10px;
  }

  a {
    color: #fff;
    :hover {
      color: #fff;
    }
  }
}

/* END SPEAKERS DETAILS */

#presentation {
  width: 580px;
  margin: 20px 20px 60px;
  float: right;

  a {
    color: #e5beb3;
    :hover {
      color: #fff;
    }
  }

  h1 a {
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
  }
}

#details {
  padding: 5px 10px;
  background: #9a2101;
  border: 1px solid;
  border-color: #7b1a01 #b23a1b #b23a1b #7b1a01;
  color: #e8613e;
  margin: 10px 0 0;
  position: absolute;
  bottom: 10px;
  width: 580px;

  .date {
    color: #ffba88;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
  }

  .register {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #ffba88;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;

    a {
      background: #8fb704;
      color: #fff;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
      text-decoration: none;
      padding: 5px 10px;
      display: inline-block;
      :hover {
        background: #9ac505;
      }
    }
  }

  .warning {
    text-transform: lowercase;
    font-size: 12px;
    top: 25px;

  }

  .closed a {
    background: #781a01;
    :hover {
      background: #781a01;
    }
  }
}

/*  -------------------------------- PAST EVENTS */
section {
  width: 900px;
  margin: 30px auto 0;
  zoom: 1;

  h2 {
    color: #4a738c;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    margin: 10px 0;
    text-transform: uppercase;
  }
}

article h3 {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
}

#last-events {

  article {
    width: 279px;
    float: left;
    padding: 15px;
    border-right: 1px solid #375568;
    color: #4a738c;

    :nth-of-type(3n+1) {
      padding-left: 0;
    }
    :nth-of-type(3n+3) {
      border: none;
      padding-right: 0;
    }
  }

  .date {
    margin: 0;
    color: #8fb704;
  }
  a.more {
    margin: 10px;
    float: right;
    background: #1d262b;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4a738c;
    text-decoration: none;

    :hover {
      color: #fff;
      background: #a92401;
      -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
      -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
      box-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    }
  }
}

/*  -------------------------------- ABOUT */
#about {
}

/*  -------------------------------- PAGE VIEW */
#main {
  background: #395261;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  margin-top: 0;

  nav {
    width: 230px;
    float: left;
    margin: 0 0 0 10px;
    h2 {
      font-size: 16px;
      text-transform: uppercase;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
      margin: 30px 0 6px;
      color: #6aa7c9;
    }

    ul {
      margin: 10px 10px 10px 0;
    }

    li {
      /*madding: 5px 20px;*/
      margin: 3px 0;
      padding: 3px 0;
      border-top: 1px solid #375568;

      a {
        display: block;
        font-weight: bold;
        font-size: 13px;
        color: #fff;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
        text-decoration: none;
      }
    }

    .date {
      color: #8fb704;
      font-size: 12px;
    }
  }

  article {
    background: #eee;
    width: 600px;
    border: none;
    padding: 0 30px 30px;
    float: left;
    position: relative;
    color: #444;
    z-index: 1;

    ul {
      margin: 0 10px 10px;
    }

    li {
      list-style: disc inside;
      padding-left: 5px;
    }

    h3 {
      color: #333;
      text-shadow: none;
      margin: 20px 0 10px;
    }

    h4 {
      font-weight: bold;
      color: #000;
      margin: 10px 0 10px;
    }

    a {
      color: #4A738C;
      font-weight: bold;

      :hover {
        color: #4A738C;
        font-weight: bold;
      }
    }
  }

  h2 {
    font-size: 24px;
    text-shadow: none;
    margin: 20px 0 0;
  }
}

/*  -------------------------------- PARTNERS */
#partners {
  position: relative;
  margin: 50px auto 20px;
  background: #8fb704;
  color: #fff;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);

  h2 {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    padding: 10px;
    margin: 0 0 -10px;
  }

  h3 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    padding: 10px 0 0;
  }

  a {
    color: #fff;

    :hover {
      color: #fff;
    }
  }
}

.partners-list {
  background: #fff;
  position: relative;
  text-align: center;
  top: 10px;
  left: -10px;
  width: 580px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);

  li {
    float: left;
    width: 275px;
    height: 100px;
    margin-right: 10px;
    margin-top: 7px;
  }

  img {
    max-width: 275px;
    max-height: 100px;
  }
}

.clear {
  clear: both;
}

.partners-register {
  float: right;
  width: 260px;
  padding: 10px;
}

/*  -------------------------------- FOOTER */
footer {
  width: 900px;
  margin: 10px auto 20px;

  h2 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    margin: 10px;
  }
  div {
    width: 279px;
    float: left;
    padding: 10px;
    margin: 10px 0;
    border-right: 1px solid #0F1416;

    :last-child {
      border-right: none;
    }
  }

  p {
    padding: 5px 0 3px;
  }
  hr {
    border: none;
    border-top: 1px solid #0F1416;
    margin: 20px 0;
    clear: both;
  }
  a {
    color: #8fb704;
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }

  .credits {
    text-align: center;
  }
}

#members article {
  width: 700px;
  float: right;
  padding: 15px;
  border-right: 1px solid #375568;
  color: white;
  background: #395261;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
  margin: 10px;

  span {
    color: #8fb704;
  }

  a {
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    text-decoration: none;

    :hover {
      color: #aaa;
    }
  }
}

#member {
  padding-top: 50px !important;

  span {
    color: #8fb704;
  }
}

.member-photo {
  width: 100px;
  float: left;
  padding-right: 20px;

  img {
    max-width: 100px;
    padding-right: 5px;
  }
}

.member-fonction {
  font-style: italic;
}

.attachments {
  width: 100%;
  /* 	border-top: 1px solid #4a738c; */
  padding-top: 20px;
  margin-top: 20px;
}

.attachments a {
  color: #4a738c;
  text-decoration: none;
  :hover {
    color: #1d262b;
  }
}

.remove {
  color: red !important;
  font-weight: bold;
  margin: 2px;
}

.flash-success {
  color: green;
  padding: 5px;
}

.flash-error {
  color: red;
  padding: 5px;
}

/* DISQUS CSS */
/*#dsq-global-toolbar {
    display: none !important;
}
*/

/*#dsq-global-toolbar ol, ul, li {
    list-style: none;
}
*/

#disqus-comments ul li {
  list-style: none inside none;
}

#dsq-subscribe a {
  color: #444;
}

.dsq-subscribe-rss a {
  color: #444;
}

.dsq-request-user-logout {
  color: #444;
}

.dsq-request-user-name a {
  color: #444;
}

.dsq-post-report {
  color: #444;
}

.dsq-comment-footer-left a {
  color: #444;
}

.poll-form {
  width: 500px;
}

.hide {
  display: none;
}

#poll-container h2 {
  color: white;
}

@import "media-940";