{{> layouts/header}}
<div class="admin">
    <h1>Administration</h1>
    <div class="col-md-2">
        <div class="list-group">
            <a href="#" class="list-group-item active">Events</a>
            <a href="/admin/talk/" class="list-group-item">Talks</a>
            <a href="/admin/speaker/all" class="list-group-item">Speakers</a>
            <a href="#" class="list-group-item">News</a>
            <a href="#" class="list-group-item">Other</a>
        </div>
    </div>
    <div class="col-md-9 propertysheet">
      {{{propertysheet}}}
    </div>
</div>


