<section id="partners">
        <h2><a href="/partners/">Partenaires</a></h2>
        <div class="partners-register">
            <h3>Devenir sponsor?</h3>
            <p>Venez nous rencontrer lors d'un évènement ou envoyez nous un email.</p>
        </div>
        {{> partners}}

    </section>

</div>
<footer>
    <h2>Montpellier JUG, partages et discussions sur Java en Languedoc-Roussillon.</h2>
    <div>
        <h2>A propos?</h2>
        <p>Nous sommes une association loi 1901, créée pour partager nos expériences des TIC, et promouvoir les technologies autour de Java en Languedoc-Roussillon.</p>
        <p>L'objectif premier est de réunir les acteurs montpellierains (sociétés, écoles, étudiants), à travers notamment l'organisation de soirées thématiques, gratuites et ouvertes à tous.</p>
        <p>Une autre finalité est la mise en relation de ces acteurs, par d'autres moyens que les forums et groupes virtuels.</p>
    </div>
    <div>
        <h2>Participez!</h2>
        <p>Chaque participant est encouragé à promouvoir les évènements via des gazoullis, courriels ou tout autre moyen de communication.</p>
        <p>Les thématiques sont ouvertes à proposition, si vous souhaitez que le JUG intervienne sur un sujet en particulier, faites-le nous savoir en envoyant un courriel.</p>
        <p>Enfin, si vous avez une expérience sur un sujet spécifique, et que vous souhaitez la partager, nous sommes en perpétuelle recherche de nouveaux <a href="@routes.Application.speakers()">speakers</a>.</p>
    </div>
    <div>
        <h2>Communauté...</h2>
        <p>
            <a id="contact" href="https://comm-montpellier-invit.herokuapp.com/"
               target="_blank">Slack des communautés #jug</a>
        </p>
        <p>
            <a id="contact" href="http://twitter.com/montpellierjug"
               target="_blank">@montpellierjug</a>
        </p>
        <p>
            <a id="contact"
               href="http://groups.google.com/group/jug-montpellier"
               target="_blank">Google group</a>
        </p>
        <p>
            <a id="contact" href="http://github.com/Jug-Montpellier"
               target="_blank">Github</a>
        </p>
    </div>
    <div>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="682N6B2YSCZ2S">
            <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
    <hr />
    <p class="credits">
        Contenus sous licence <a
            href="http://creativecommons.org/licenses/by/3.0/">CreativeCommons</a>
        — <a id="contact" href="#w">Crédits</a>
    </p>
</footer>
</body>
</html>
