<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Wisdom Framework Monitoring"/>
    <meta name="author" content="The Wisdom Framework Team"/>
    <link rel="shortcut icon" href="/assets/images/owl-small.png"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/main.css" media="screen"/>
    <link rel="stylesheet" href="/assets/admin.css" media="screen"/>
    <link rel="stylesheet" href="/assets/combobox.css" media="screen"/>

    <title layout:title-pattern="$DECORATOR_TITLE :: $CONTENT_TITLE">Montpellier JUG Welcome</title>
</head>
<body>
<div id="wrapper">
    <a id="logo" href="/"> <span>Montpellier Jug</span></a>
    <nav id="menu">
        <ul>
            {{#cartridges}}
                <li id="nav-home"><a href="{{routeUri}}">{{label}}</a></li>
            {{/cartridges}}
        </ul>
    </nav>
    {{#nextEvent}}
        {{> nextEventView}}
    {{/nextEvent}}