<!-- Liste de valeurs de la liste -->
<div id="{{property.name}}_list">
    {{#property.value}}
    <input name="{{property.name}}" type="checkbox" class="form-control" value="{{.}}" >{{.}}
    {{/property.value}}
</div>
<!-- Ajout nouvelle possibilité -->
<select id="{{property.name}}_newInput" class="form-control">
    <option></option>
    {{#speakers}}
    <option {{#selected}}selected{{/selected}} value="{{id}}">{{fullname}}</option>
    {{/speakers}}
</select>
<button class="btn btn-success" type="button" onclick="{{property.name}}NewValue();">+</button>
<script type="text/javascript">
function {{property.name}}NewValue() {
    var el = document.getElementById("{{property.name}}_newInput");
    var value = el.value;
    var text = el.options[el.selectedIndex].text;
    document.getElementById("{{property.name}}_list").innerHTML += '<input name="{{property.name}}" type="checkbox" class="form-control" value="'+value+'" checked >'+text;
    el.value = '';
}
</script>