<!-- Liste de valeurs de la liste -->
<div id="{{property.name}}_list">
    {{#property.value}}
    <div class="checkbox">
        <label>
            <input name="{{property.name}}" type="checkbox" value="{{id}}" checked>
        </label>
        {{fullName}}
    </div>
    {{/property.value}}
</div>

<!-- Ajout nouvelle possibilité -->
<div class="input-group">
    <select id="{{property.name}}_newInput" class="form-control">
        <option></option>
        {{#speakers}}
        <option value="{{id}}">{{fullname}}</option>
        {{/speakers}}
    </select>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="{{property.name}}NewValue();">+</button>
    </span>
</div>

<script type="text/javascript">
function {{property.name}}NewValue() {
    var el = document.getElementById("{{property.name}}_newInput");

    var newElement = document.createElement('div');
    newElement.className = 'checkbox';
    newElement.innerHTML = '<label><input name="{{property.name}}" type="checkbox" value="'+el.value+'" checked ></label>'+el.options[el.selectedIndex].text;

    document.getElementById("{{property.name}}_list").appendChild(newElement);
    el.value = '';
}
</script>