<div class="listview-container panel panel-default">
    <div class="header">
        <h1>{{title}}</h1>

        <div id="search" class="input-group">
            <input id="term" type="text" class="form-control" placeholder="Search for..." autofocus
                   onFocus="this.select()" value="{{search}}">
          <span class="input-group-btn">
            <button id="search-button" class="btn btn-default" type="button" onclick="search()">Search</button>
          </span>

        </div>
        <span class="input-group-btn">
            <button id="create-button" class="btn btn-primary" type="button" onclick="create()">Create</button>
        </span>

        {{#hasData}}
        <table class="table table-hover listview">
            <thead>
            <tr>
                {{#labels}}
                <th>{{.}}</th>
                {{/labels}}
            </tr>
            </thead>
            <tbody>
            {{#rows}}
            <tr onclick="javascript:location.href='{{id}}'">
                {{#cells}}
                <td class="cell">{{{content}}}</td>
                {{/cells}}
            </tr>
            {{/rows}}
            </tbody>
        </table>
        {{/hasData}}
        {{^hasData}}
        <div class="no-result">
            No result
        </div>
        {{/hasData}}
    </div>
    <script type="text/javascript">
    function search() {
        var el = document.getElementById("term");
        location.href = "?search="+el.value;
    }

    function create() {
        location.href = "new/"
    }

    if (document.layers) {
        document.captureEvents(Event.KEYDOWN);
    }

    document.onkeydown = function (evt) {
        var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
        if (keyCode == 13) {
           document.getElementById("search-button").click();
        } else {
            return true;
        }
    };



    </script>

